body {
  background-color: lightgrey;
}

.navbar-brand {
  margin-left: 600px;
}

.navbar-nav {
  margin-right: 600px;
}

.portfolio {
  background-color: white;
  margin-top: 20px;
  margin-left: 600px;
  max-width: 30%;
  padding: 40px;
}

.myButtons {
  border-radius: 0 !important;
}

.myCard {
  min-height: 200px;
}
